.snakemake/
data/
coverage/
logs/*
logs/cluster/*
scripts/.snakemake*
snakemake.err
snakemake.log
rulegraph.svg
dag.svg
Rplots.pdf

!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
